header {
  padding: 40px 63px 44px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(234, 234, 234, 1);

  .header-left {
    display: flex;
    align-items: center;
    column-gap: 20px;

    img {
      height: 40px;
      width: 40px;
    }

    .heading {
      text-transform: uppercase;
      font-size: 20px;
    }

    .subheading {
      opacity: 0.6;
      font-size: 14px;
      line-height: 17px;

    }
  }

  .header-right {
    display: flex;
    column-gap: 30px;

    li {
      display: flex;
      align-items: center;

      span {
        margin-left: 5px;
        width: 30px;
        text-align: end;
      }

      img {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }

      svg {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }
  }
}


@media (max-width:590px) {
  header {
    padding: 20px;

    .header-left {
      .heading {
        font-size: 16px;
      }

      .subheading {
        font-size: 12px;
        line-height: 15px;

      }
    }

    .header-right {
      column-gap: 20px;

      li {
        img {
          width: 20px;
          height: 20px;
        }

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@media (max-width:430px) {
  header {
    padding: 20px;

    .header-left {
      column-gap: 10px;

      img {
        height: 34px;
        width: 34px;
      }

      .heading {
        font-size: 13px;
      }

      .subheading {
        font-size: 10px;
        line-height: 12px;

      }
    }

    .header-right {
      column-gap: 10px;

      li {
        img {
          width: 20px;
          height: 20px;
        }

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}